:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 235, 236);
  }
  
  .drinksPage {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the child elements horizontally */
    background-color: rgb(237, 235, 236);
  }
  

  .drink-search {
    margin-top: 20px; /* Add some margin at the top */
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Center items vertically in the container */
    padding: 5px; /* Add some padding for spacing */
    border: 1px solid #ccc; /* Add a border to the container for better visibility */
  }

  input[type="text"] {
    flex: 1; /* Allow the input field to take the remaining space in the container */
    border: none; /* Remove the default input border */
    outline: none; /* Remove the default input focus outline */
    font-size: 16px; /* Adjust the font size as needed */
    padding: 8px; /* Add some padding for spacing */
    background-color: transparent; /* Make the input background transparent */
  }
  
  .drink-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .drink-carousel {
    width: 80%; /* Adjust the width as per your design */
    margin: 0 auto; /* Center the carousel horizontally */
    
  }

  .slick-center {
    /*Stylesfortheactive(center)slide*/transform: scale(1.1);
    /*Increasethescaletomakeitbigger*/transition: transform 0.5s ease;
}


  .search-icon {
    width: 20px; /* Adjust the width as per your image size */
    height: 20px; /* Adjust the height as per your image size */
    margin-right: 8px; /* Add some right margin for spacing between the icon and input */
  }

  /* For large screens (more than 820px), display 3 columns */
  @media screen and (max-width: 820px) {
    .drink-container {
      flex-basis: calc(33.33% - 20px);
      padding: 5px;
      margin: 5px;
    }
  }
  
  /* For laptop-sized screens (821px or more), display 5 columns */
  @media screen and (min-width: 821px) {
    .drink-container {
      flex-basis: calc(20% - 20px);
      padding: 5px;
      margin: 5px;
    }
    .drink-container img {
        width: 100%; /* Make sure the images fill the available space */
        height: auto; /* Maintain aspect ratio */
        min-width: 250px; /* Define a max-width for the images to avoid them getting too large */
  }
}